*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --mainColor: #ff206e
}

.hala{
  border: none;
  border: #8a8787 solid  1px ;
}

    .hala1{
        z-index=99999;
    }


    nav ul {
        list-style-type: none;
        text-align: center;
    }
          
          nav ul li {
              display: inline-block;
          }
          
          nav ul li a{
              text-decoration: none;
              color: #000;
              padding: 20px;
          }