@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Department

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Dname</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.MGRStartDate</h6>
        <p class="card-text">@Model.Manger.Fname</p>
        <a href="/department/index" class="card-link"> Back to List</a>
    </div>
</div>
