@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    SelectList list = new SelectList(ViewBag.employees, "SSN", "Fname");
}
@model Department
<h1> Edit Departmnt</h1>

<form asp-action="EditDB"  asp-controller="Helper" asp-rout-id="@Model.Dno">
    <input  asp-for="Dno" hidden/>
    <div class="mb-3">
        <label asp-for="Dname" class="form-label"></label>
        <input class="form-control" asp-for="Dname">
    </div>


    <div class="mb-3">
        <label asp-for="MGRStartDate" class="form-label"></label>
        <input class="form-control" asp-for="MGRStartDate">
    </div>



    <div class="mb-3 form-check">
        <label class="form-check-label" asp-for="MGRSSN">Manger</label>
        <select asp-for="MGRSSN" class="form-control" asp-items="list">
           
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
